@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 10%;
    }

@media screen and (max-width: 576px) {
    .top .top-banner{
        flex-direction: column;
    }
    .menu-blog{
        flex-direction: column;
        grid-row-gap: 20px;
        align-items: center;
    }
    .menu-blog .nav-bar{
        background-color: white;
        
    }
    .menu-blog .blog-sec{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/* ----------------------
    top-banner
---------------------- */
.top{
    /* display: flex;
    justify-content: center; */
    margin: 10% 0;
    
}
.top-banner{
   
    display: flex;
    align-items:center;
    color: white;
    background-color: black;
    border-radius: 10px;
}

h1{
    font-weight: 700;
    font-size: 3em;
}
.banner-text{
    width: 70%;
    padding: 20px 50px;
}
.banner-button{
    padding: 10px 20px;
    color: white;
    background-color: yellowgreen;
    border-radius: 5px;
    
}

.top-banner img{
    width: 100%;
}

/* --------------------
    menu-bar
-------------------- */

.menu-blog{
    display: flex;
    
    
}
.nav-bar{
    width: 400px;
    height: 200px;
   
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    
   
}
.nav-button{
    text-align: center;
    width: 70%;
    height: 3em;
    border-radius: 5px;
}
.selected{
    text-align: center;
    width: 70%;
    height: 3em;
    border-radius: 5px;
    background-color: yellowgreen;
}
/* -----------------------------
        blog
----------------------------- */
.blog-sec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2%;

}

.blog{
    background-color: lightgray;
    border-radius: 10px;
    margin: 0 2%;
  
}
.blog-img img{ 
    width: 100%;
}
.blog-title{
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    font-size: 90%;
    text-align: center;
}
.blog-text{
    margin-left: 5%;
    padding: 0 10px;
}
.icon-blog{
    display: flex;
    justify-content: space-around;
}
.fa-clock{
    margin: 0 5px;
}
.fa-comment-dots{
    margin: 0 5px;
}

