@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    }
/* -------------------------------
        Responsive For Mobile
------------------------------- */
@media screen and (max-width: 576px) {

    body .top{
        margin: 0%;
    }
    .top .top-banner{
        flex-direction: column;
    }
    .menu-blog{
        flex-direction: column;
        grid-row-gap: 2px;
        align-items: center;
        
    }
    .menu-blog .nav-bar{
        background-color: white;
        
    }
    .menu-blog .upcoming-match{
        grid-template-columns: repeat(1, 1fr);
    }
    footer .footer-goal{
        color: white;
        width: 100%;
        height: 100px;
        margin-top: 1200px;
    }
    footer .short-titel{
        display: flex;
        flex-direction: column;
        height: 300px;
        color: white;
        background-color: black;
    }
    
}
/* -----------------------------------
        Responsive for tablet
------------------------------------ */
@media screen and (min-width: 577px) and (max-width: 768px) {


   
    .menu-blog{
        flex-direction: column;
    }
    .menu-blog .nav-bar{
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
        height: 80px;
    }

    .menu-blog .upcoming-match{
        grid-template-columns: repeat(2, 1fr);
        
    }

    footer .footer-goal{
        color: white;
        width: 100%;
        height: 100px;
        margin-top: 300px;
    }
    footer hr{
        width: 50%;
    }
    footer .goal{
        
        padding-top: 20px;
    }
    footer .shortcut{
        /* text-align: center; */
        padding: 5px;
    }
    
}

/* ----------------------
    top-banner
---------------------- */
.top{
   
    margin: 2% 10%;
    
}
.top-banner{
   
    display: flex;
    align-items:center;
    color: white;
    background-color: black;
    border-radius: 10px;
}

h1{
    font-weight: 700;
    font-size: 30px;
}
.banner-text{
    width: 70%;
    padding: 20px 50px;
}
.banner-button{
    width: 120px;
    height: 50px;
    color: white;
    background-color: yellowgreen;
    border-radius: 5px;
    
}

.top-banner img{
    width: 100%;
}

/* --------------------
    menu-bar
-------------------- */

.menu-blog{
    display: flex;
    margin: 2% 10%;
    
    
}
.nav-bar{
    width: 400px;
    height: 200px;
   
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    
   
}
.nav-button{
    text-align: center;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin: 2px 5px;
}
.selected{
    text-align: center;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: yellowgreen;
    margin: 2px 5px;
}
/* -----------------------------
        blog
----------------------------- */
.blog-sec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2%;

}

.blog{
    background-color: lightgray;
    border-radius: 10px;
    margin: 0 2%;
  
}
.blog-img img{ 
    width: 100%;
}
.blog-title{
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    font-size: 90%;
    text-align: center;
}
.blog-text{
    margin-left: 5%;
    padding: 0 10px;
}
.icon-blog{
    display: flex;
    justify-content: space-around;
}
.fa-clock{
    
    margin: 0 5px;
}
.fa-comment-dots{
    margin: 0 5px;
}

/* ------------------------------------
                Footer
------------------------------------- */
footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 250px;
    margin-top: 150px;
}
.goal{
    /* font-weight: 700; */
    text-align: center;
    padding-top: 30px;
}
hr{
    width: 70%;
}

.short-titel{
    text-align: center;
}
.shortcut{
    text-align: center;
    padding: 20px;
}


/* ---------------------------------------------
        upcoming-match-page
        -------------------------------------- */

.upcoming-match{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.match{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 2%;
    padding: 20px;
    
}

.team-flag{
    display: flex;
    align-items: center;
}
.vs{
    padding: 0 10px;
}
.match-info{
    text-align: center;
}